<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
       
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" href="/Alumnos">Alumnos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Materias">Materias</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Calificaciones/Estudiantes">Calificaciones</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><span class="dropdown-item" >

                    </span></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
